.str {
  /* display: block; */
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
}

div > button {
  margin: auto;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

p>textarea,
.tabtext {
  /* display: inline; */
  min-width: 100px;
  max-width: 45%;
  min-height: 200px;
  height: 220px;
  display: inline-block;
  margin-top: 50px;
}

textarea[name=comment] {
  height: 260px;
}

p {
  display: inline;
  /* display: flex;
  flex-direction: column;
  align-content: stretch; */
  /* max-width: 45%; */
  /* overflow: hidden; */
}

.field>a,
/* .field>input { */
  .field>label {
  /* display: block; */
  position: absolute;
}

#label {
    display: inline-block;
    left: 200px;
    top: 278px;
}
/*colors*/

button,
.custom-file-upload {
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, seri;
}
button:hover,
.custom-file-upload:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
button:active,
.custom-file-upload:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
button:disabled {
  background: rgb(255,255,77);
  box-shadow: none;
}



input[type="file"] {
    display: none;
}




.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(255,212,3);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(250,172,17);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(248,157,23);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  /* top: 5px; */
  width: 5px;
  height: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */

  display: inline-block;
  position: absolute;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  /* background-color: rgb(255,255,77) !important; */
  float: left !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  padding: 4px 6px !important;
  transition: 0.3s !important;

  color: black;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  outline: none;
  border: 3px solid rgb(250,172,17);
  border-radius: 5px;
  background: rgb(255,255,77) /*linear-gradient(rgb(255,255,77), rgb(248,157,23))*/;
  /* box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0); */
  transition: box-shadow .2s, border-color .2s;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, seri;

  margin-top: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active{
  /* background-color: rgba(177,159,0,1); */
  background:rgb(248,157,23);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  /* border-top: none; */

  min-width: 100px;
  max-width: 100%;
  min-height: 200px;
  height: 220px;
  margin-top: -15px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#dlbtn {
  z-index: 1;
}
